/**/
body {
    margin-left: 10%;
    margin-right: 10%
    }
h1, h2, h3 {
    text-align: center;
    /* all headings centered */
    clear: both
    }
center {
    text-align: center
    }
p {
    margin-top: 0.51em;
    text-align: justify;
    margin-bottom: 0.49em
    }
hr.chap {
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
    margin-top: 2em;
    margin-bottom: 2em
    }
hr.full {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 1em
    }
hr.r25 {
    width: 25%;
    margin-left: 37.5%;
    margin-right: 37.5%;
    margin-top: 1em
    }
hr.r15 {
    width: 15%;
    margin-left: 42.5%;
    margin-right: 42.5%;
    margin-top: 1em
    }
.break-before {
    page-break-before: always
    }
.small {
    font-size: 75%
    }
.smaller {
    font-size: 90%
    }
.large {
    font-size: 120%
    }
.x-large {
    font-size: 150%
    }
.xx-large {
    font-size: 175%
    }
.topspace1 {
    margin-top: 1em
    }
.topspace2 {
    margin-top: 2em
    }
.topspace3 {
    margin-top: 3em
    }
.topspace4 {
    margin-top: 4em
    }
.bottomspace1 {
    margin-bottom: 1em
    }
.bottomspace2 {
    margin-bottom: 2em
    }
.bottomspace3 {
    margin-bottom: 3em
    }
.bbox {
    border: solid 2px;
    margin-left: 27%;
    margin-right: 27%;
    width: 46%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em
    }
div.chapter {
    page-break-before: always
    }
div.section {
    page-break-before: always
    }
h2.nobreak, h3.nobreak {
    page-break-before: avoid
    }
table {
    margin-left: auto;
    margin-right: auto
    }
table {
    border-collapse: collapse
    }
.tdl {
    text-align: left
    }
.tdr {
    text-align: right
    }
.tdc {
    text-align: center
    }
.pagenum {
    /* uncomment the next line for invisible page numbers */
    /*  visibility: hidden;  */
    font-size: smaller;
    text-align: right
    }
.pagenum-block {
    /* uncomment the next line for invisible page numbers */
    /*  visibility: hidden;  */
    text-align: right
    }
/* page numbers in blockquotes */
@media all {
    /* was @media handheld */
    .pagenum, .pagenun-block {
        display: none
        }
    }
blockquote {
    font-size: smaller;
    margin-left: 5%;
    margin-right: 10%
    }
.center {
    text-align: center
    }
.right {
    text-align: right
    }
.smcap {
    font-variant: small-caps
    }
/* Images */
.figcenter {
    margin: auto;
    text-align: center
    }
/* Footnotes */
.footnotes {
    border: dashed 1px
    }
.footnote {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 0.9em
    }
.footnote .label {
    text-align: right
    }
.fnanchor {
    vertical-align: super;
    font-size: 0.8em;
    text-decoration: none
    }
/* Poetry */
.poetry-container {
    text-align: center
    }
.poetry {
    display: inline-block;
    text-align: left
    }
.poetry .stanza {
    margin: 1em auto
    }
.poetry .verse {
    text-indent: -3em;
    padding-left: 3em
    }
.verse-first-line {
    text-indent: -0.5em
    }
@media all {
    /* was @media handheld */
    .poetry {
        display: block;
        margin-left: 1.5em
        }
    }
/* Transcriber's notes */
.transnote {
    background-color: #E6E6FA;
    color: black;
    font-size: smaller;
    padding: 0.5em;
    margin-bottom: 5em;
    font-family: sans-serif, serif
    }
h1.pgx {
    text-align: center;
    clear: both;
    font-weight: bold;
    font-size: 190%;
    margin-top: 0;
    margin-bottom: 1em;
    word-spacing: 0;
    letter-spacing: 0;
    line-height: 1
    }
h2.pgx {
    text-align: center;
    clear: both;
    font-weight: bold;
    font-size: 135%;
    margin-top: 2em;
    margin-bottom: 1em;
    word-spacing: 0;
    letter-spacing: 0;
    page-break-before: avoid;
    line-height: 1
    }
h3.pgx {
    text-align: center;
    clear: both;
    font-weight: bold;
    font-size: 110%;
    margin-top: 2em;
    margin-bottom: 1em;
    word-spacing: 0;
    letter-spacing: 0;
    line-height: 1
    }
h4.pgx {
    text-align: center;
    clear: both;
    font-weight: bold;
    font-size: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
    word-spacing: 0;
    letter-spacing: 0;
    line-height: 1
    }
hr.pgx {
    width: 100%;
    margin-top: 3em;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    border-width: 4px 0 0 0;
    /* remove all borders except the top one */
    border-style: solid;
    border-color: #000;
    clear: both
    }
/**/